language: scala
jdk: oraclejdk8
script:
  - sbt "++${TRAVIS_SCALA_VERSION}" "^^${SBT_VERSION}" scripted
  - git diff --exit-code # check scalariform
matrix:
  include:
  - env: SBT_VERSION="0.13.16"
    scala: 2.10.6
  - env: SBT_VERSION="1.0.0"
    scala: 2.12.3
